@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap);





body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #4284df !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4284df !important;
  border-color: #4284df !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-primary:before {
  background-color: #1f5eb6 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1f5eb6 !important;
  border-color: #1f5eb6 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-secondary:before {
  background-color: #eb3934 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-info:before {
  background-color: #4a2469 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-success:before {
  background-color: #693cbc !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1b53a0;
  color: #1b53a0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #4284df;
}
.btn-primary-outline:before {
  background-color: #4284df;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4284df;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #4284df !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1b53a0 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4284df;
  border-color: #4284df;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4284df;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f0f6fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #4284df;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4284df;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4284df;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4284df;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4284df;
  border-bottom-color: #4284df;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4284df !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f27d7a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234284df' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rU1f0BBSz3.popup-builder {
  background-color: #ffffff;
}
.cid-rU1f0BBSz3.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-rU1f0BBSz3.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-rU1f0BBSz3 .modal-content,
.cid-rU1f0BBSz3 .modal-dialog {
  height: auto;
}
.cid-rU1f0BBSz3 .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-rU1f0BBSz3 .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-rU1f0BBSz3 .form-wrapper .mbr-form .form-group,
  .cid-rU1f0BBSz3 .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-rU1f0BBSz3 .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-rU1f0BBSz3 .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rU1f0BBSz3 .mbr-text {
  text-align: center;
}
.cid-rU1f0BBSz3 .pt-0 {
  padding-top: 0 !important;
}
.cid-rU1f0BBSz3 .pb-0 {
  padding-bottom: 0 !important;
}
.cid-rU1f0BBSz3 .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-rU1f0BBSz3 .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-rU1f0BBSz3 .modal-open {
  overflow: hidden;
}
.cid-rU1f0BBSz3 .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-rU1f0BBSz3 .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-rU1f0BBSz3 .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-rU1f0BBSz3 .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-rU1f0BBSz3 .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-rU1f0BBSz3 .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-rU1f0BBSz3 .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-rU1f0BBSz3 .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-rU1f0BBSz3 .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-rU1f0BBSz3 .modal-backdrop.fade {
  opacity: 0;
}
.cid-rU1f0BBSz3 .modal-backdrop.show {
  opacity: .5;
}
.cid-rU1f0BBSz3 .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-rU1f0BBSz3 .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-rU1f0BBSz3 .modal-header .close:hover {
  opacity: 1;
}
.cid-rU1f0BBSz3 .modal-header .close:focus {
  outline: none;
}
.cid-rU1f0BBSz3 .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-rU1f0BBSz3 .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-rU1f0BBSz3 .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-rU1f0BBSz3 .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-rU1f0BBSz3 .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-rU1f0BBSz3 .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-rU1f0BBSz3 .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-rU1f0BBSz3 .modal-sm {
    max-width: 300px;
  }
  .cid-rU1f0BBSz3 .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-rU1f0BBSz3 .modal-lg,
  .cid-rU1f0BBSz3 .modal-xl {
    max-width: 800px;
  }
  .cid-rU1f0BBSz3 .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-rU1f0BBSz3 .modal-xl {
    max-width: 1140px;
  }
  .cid-rU1f0BBSz3 .container {
    max-width: 1140px;
  }
}
.cid-rU1f0BBSz3 .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-rU1f0BBSz3 .container {
    max-width: 720px;
  }
}
.cid-rU1f0BBSz3 .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-rU1f0BBSz3 .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-rU1f0BBSz3 .form-group {
  margin-bottom: 1rem;
}
.cid-rU1f0BBSz3 .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-rU1f0BBSz3 .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-rU1f0BBSz3 .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-rU12Rw5PIW .navbar {
  padding: .5rem 0;
  background: #232323;
  transition: none;
  min-height: 77px;
}
@media (min-width: 992px) {
  .cid-rU12Rw5PIW .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 2.5385em 0.235em 3.5385em !important;
    margin: 0 !important;
  }
}
.cid-rU12Rw5PIW .menu-logo {
  display: flex;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  margin-right: auto;
}
.cid-rU12Rw5PIW .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rU12Rw5PIW .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rU12Rw5PIW .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rU12Rw5PIW .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rU12Rw5PIW .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rU12Rw5PIW .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rU12Rw5PIW .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-rU12Rw5PIW a {
  font-style: normal;
}
.cid-rU12Rw5PIW .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
}
.cid-rU12Rw5PIW .nav-item a {
  padding: 0.4rem 0 !important;
}
.cid-rU12Rw5PIW .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rU12Rw5PIW .dropdown-item:hover:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  width: 16px;
}
.cid-rU12Rw5PIW .content-text {
  margin-bottom: 0;
}
.cid-rU12Rw5PIW .navbar-nav {
  position: relative;
  min-height: 60px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-rU12Rw5PIW .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #4284df;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rU12Rw5PIW .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
  .cid-rU12Rw5PIW .navbar-nav .nav-item a {
    margin: 0 1.3rem !important;
  }
}
@media (max-width: 991px) {
  .cid-rU12Rw5PIW .navbar-nav .nav-item a {
    margin: 0 !important;
  }
}
.cid-rU12Rw5PIW .navbar-nav .nav-item span {
  padding-right: 0.1rem;
}
.cid-rU12Rw5PIW .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rU12Rw5PIW .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rU12Rw5PIW .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rU12Rw5PIW .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rU12Rw5PIW .nav-dropdown .link {
  font-weight: 400;
}
.cid-rU12Rw5PIW .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rU12Rw5PIW .content-right-side {
  text-align: center;
}
@media (max-width: 575px) {
  .cid-rU12Rw5PIW .content-right-side {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .cid-rU12Rw5PIW .content-right-side .content-link {
    font-size: 0.8rem;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
.cid-rU12Rw5PIW .menu-content-top {
  display: none;
  padding: 1rem 0;
  transition: height 0.3s ease-in-out;
}
.cid-rU12Rw5PIW .menu-content-top.show {
  display: block;
}
.cid-rU12Rw5PIW .content-right-side .content-link {
  margin-left: 1rem;
}
.cid-rU12Rw5PIW .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
@media (max-width: 991px) {
  .cid-rU12Rw5PIW .content-left-side {
    text-align: center;
    padding-bottom: 1rem;
  }
  .cid-rU12Rw5PIW .dropdown-item {
    padding: 0.235em 0 !important;
    margin: 0 !important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }
  .cid-rU12Rw5PIW .dropdown-item:before {
    display: none;
  }
  .cid-rU12Rw5PIW .menu-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cid-rU12Rw5PIW .menu-bottom {
    width: 100%;
    padding: 0 1rem;
    display: block;
  }
  .cid-rU12Rw5PIW img {
    height: 3.8rem !important;
  }
  .cid-rU12Rw5PIW .btn {
    display: flex;
  }
  .cid-rU12Rw5PIW button.navbar-toggler {
    display: block;
  }
  .cid-rU12Rw5PIW .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-rU12Rw5PIW .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rU12Rw5PIW .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rU12Rw5PIW .navbar-collapse.collapsing,
  .cid-rU12Rw5PIW .navbar-collapse.show {
    display: block !important;
  }
  .cid-rU12Rw5PIW .navbar-collapse.collapsing .navbar-nav,
  .cid-rU12Rw5PIW .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rU12Rw5PIW .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rU12Rw5PIW .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
    padding: 0.5rem 0;
  }
  .cid-rU12Rw5PIW .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rU12Rw5PIW .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rU12Rw5PIW .navbar-collapse.collapsing .navbar-buttons,
  .cid-rU12Rw5PIW .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rU12Rw5PIW .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rU12Rw5PIW .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rU12Rw5PIW .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity, padding, height;
  }
  .cid-rU12Rw5PIW .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rU12Rw5PIW .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rU12Rw5PIW .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 992px) {
  .cid-rU12Rw5PIW .navbar .menu-content-top {
    display: block;
  }
  .cid-rU12Rw5PIW .menu-content-top .row {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .cid-rU12Rw5PIW .content-right-side {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: right;
  }
  .cid-rU12Rw5PIW .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-rU12Rw5PIW .menu-bottom {
    display: flex;
  }
  .cid-rU12Rw5PIW .navbar {
    display: block;
    padding: 0;
  }
  .cid-rU12Rw5PIW .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rU12Rw5PIW .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 76px;
  }
  .cid-rU12Rw5PIW .navbar-toggler {
    display: none;
  }
}
.cid-rU12Rw5PIW .navbar-short .menu-content-top {
  border: none;
}
.cid-rU12Rw5PIW .btn {
  padding: 0.7rem 1.5rem;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rU12Rw5PIW .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rU12Rw5PIW .navbar-toggleable-sm .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 5rem;
  width: 100%;
}
.cid-rU12Rw5PIW .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rU12Rw5PIW .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rU12Rw5PIW .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rU12Rw5PIW .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rU12Rw5PIW .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rU12Rw5PIW .dropdown .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rU12Rw5PIW .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-rU12Rw5PIW .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rU12Rw5PIW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rU12Rw5PIW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rU12Rw5PIW .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rU12Rw5PIW .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rU12Rw5PIW .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rU12Rw5PIW .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rU12Rw5PIW .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rU12Rw5PIW .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rU12Rw5PIW .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rU12Rw5PIW .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rU12Rw5PIW button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
}
.cid-rU12Rw5PIW button.navbar-toggler:focus {
  outline: none;
}
.cid-rU12Rw5PIW button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rU12Rw5PIW button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rU12Rw5PIW button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rU12Rw5PIW button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rU12Rw5PIW button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rU12Rw5PIW nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rU12Rw5PIW nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rU12Rw5PIW nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rU12Rw5PIW nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rU12Rw5PIW .collapsed.navbar {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rU12Rw5PIW .collapsed .menu-bottom {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rU12Rw5PIW .collapsed .menu-logo {
  margin-right: 0;
}
.cid-rU12Rw5PIW .collapsed .btn {
  display: flex;
}
.cid-rU12Rw5PIW .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rU12Rw5PIW .collapsed .navbar-collapse.collapsing,
.cid-rU12Rw5PIW .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rU12Rw5PIW .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rU12Rw5PIW .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rU12Rw5PIW .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rU12Rw5PIW .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rU12Rw5PIW .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rU12Rw5PIW .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rU12Rw5PIW .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rU12Rw5PIW .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rU12Rw5PIW .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rU12Rw5PIW .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rU12Rw5PIW .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 3.8rem  - 1rem);
  }
  .cid-rU12Rw5PIW .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rU12Rw5PIW .collapsed button.navbar-toggler {
  display: block;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rU12Rw5PIW .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-rU12Rw5PIW .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rU12Rw5PIW .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .25s;
  transition-property: opacity, padding, height;
}
.cid-rU12Rw5PIW .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rU12Rw5PIW .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rU12Rw5PIW .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-rU12Rw5PIW .collapsed .dropdown-item:before {
  display: none;
}
.cid-rU12Rw5PIW .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rU12Rw5PIW .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-rU12Rw5PIW .nav-link:focus {
  outline: none;
}
.cid-rU12Rw5PIW .navbar-toggler {
  position: relative;
}
.cid-rU12Rw5PIW .dropdown-item.active,
.cid-rU12Rw5PIW .dropdown-item:active {
  background-color: #232323;
  color: auto;
}
.cid-rU12Rw5PIW .nav-link:hover,
.cid-rU12Rw5PIW .dropdown-item:hover {
  color: #4284df;
}
.cid-rU12X7uhWo {
  padding-top: 120px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background10.jpg");
}
.cid-rU12X7uhWo .media-content .btn-bgr {
  z-index: 0;
}
.cid-rU12X7uhWo .mbr-overlay {
  background: linear-gradient(90deg, #52e2dd, #8120c9);
}
@media (min-width: 992px) {
  .cid-rU12X7uhWo .media-content {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
@media (max-width: 991px) {
  .cid-rU12X7uhWo {
    text-align: center !important;
  }
  .cid-rU12X7uhWo .mbr-text {
    text-align: center;
  }
}
.cid-rU12X7uhWo .media-container-row {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-rU1c1vH2EK {
  padding-top: 180px;
  background-image: url("../../../assets/images/background15.jpg");
}
.cid-rU1c1vH2EK .container {
  margin-bottom: 15%;
}
.cid-rU1c1vH2EK .content-container .btn-bgr {
  z-index: 0;
}
.cid-rU1c1vH2EK .container-boxes {
  padding-bottom: 45px;
  position: relative;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  background-color: #ffffff;
}
.cid-rU1c1vH2EK .box-item {
  width: 29%;
  padding: 2.5rem;
}
.cid-rU1c1vH2EK .box-item:first-child {
  background-color: #767676;
  margin-top: -200px;
}
.cid-rU1c1vH2EK .box-item:nth-child(2) {
  background-color: #515151;
}
.cid-rU1c1vH2EK .box-item:last-child {
  background-color: #5e22f8;
}
.cid-rU1c1vH2EK .box-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.cid-rU1c1vH2EK .box-list li {
  border-bottom: 1px solid;
  padding: 10px 0 5px;
}
.cid-rU1c1vH2EK .box-list li:last-child {
  border-bottom: none;
}
.cid-rU1c1vH2EK .box-list li span {
  float: right;
  text-align: right;
  padding-left: 0.5rem;
}
.cid-rU1c1vH2EK .media-content {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
@media (min-width: 992px) {
  .cid-rU1c1vH2EK .media-container-row {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .cid-rU1c1vH2EK .box-item {
    margin-top: -200px;
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .cid-rU1c1vH2EK .content-container {
    -webkit-flex-basis: 90%;
    flex-basis: 90%;
  }
  .cid-rU1c1vH2EK .box-item {
    margin-top: 0;
    width: 90%;
  }
  .cid-rU1c1vH2EK .box-item:first-child {
    margin-top: -100px;
  }
}
.cid-rU1c1vH2EK .mbr-text,
.cid-rU1c1vH2EK .mbr-section-btn {
  color: #232323;
}
.cid-rU1c1vH2EK H1 {
  color: #232323;
}
.cid-rU1c1vH2EK UL {
  text-align: left;
}
.cid-rU1ewuUcHV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU1ewuUcHV *:focus {
  outline: none;
}
.cid-rU1ewuUcHV .form-group {
  margin-bottom: 2rem;
}
.cid-rU1ewuUcHV .form-control {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #000000;
  color: #000000;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1px;
  min-height: 35px;
}
.cid-rU1ewuUcHV .form-control:focus {
  outline: none;
  box-shadow: none;
}
.cid-rU1ewuUcHV .form-control::-webkit-input-placeholder {
  color: #000000;
}
.cid-rU1ewuUcHV .form-control::-moz-placeholder {
  color: #000000;
}
.cid-rU1ewuUcHV .form-control:-ms-input-placeholder {
  color: #000000;
}
.cid-rU1ewuUcHV .form-control:-moz-placeholder {
  color: #000000;
}
.cid-rU1ewuUcHV input.form-control {
  padding: 1px 0;
}
.cid-rU1ewuUcHV .soc-item {
  display: inline-block;
  margin: 0 .2rem;
}
.cid-rU1ewuUcHV .soc-item .socicon {
  font-size: 1.5rem;
  color: #000000;
  opacity: 1;
}
.cid-rU1ewuUcHV .soc-item .socicon:hover {
  opacity: .5;
}
.cid-rU1ewuUcHV .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-rU1ewuUcHV .first-column,
  .cid-rU1ewuUcHV .form-1 {
    text-align: center;
  }
}
